.catalog__title {
  background-color: @gray;
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: @black;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 30px;
}

.catalog__card {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  list-style-type: none;
}

.catalog__wrapper {
  border: 1px solid #ededed;
  margin-bottom: 30px;
}

.catalog__name {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  padding-top: 30px;
  padding-bottom: 15px;
}

.catalog__desc {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: @black;
  padding-bottom: 25px;
}

.catalog__price {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: @black;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog__flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-top: 1px solid #ededed;
}

.catalog__icon {
  margin-left: 100px;
}

.catalog__photo {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .catalog__card {
    display: flex;
    flex-direction: row;
  }
}
