.feedback__title {
  .title();
}

.feedback__desc {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.feedback__author,
.feedback__nickname {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.3;
  color: @black;
}

.feedback {
  display: flex;
  flex-direction: column;
}
