.footer {
  background-color: @gray;
}

.footer-dev__title {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: @black;
  margin-right: 45px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
  padding-bottom: 25px;
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
}

.footer-dev {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding-left: 20px;
}

.footer__btn--logo {
  display: none;
}

.footer__btn--instagram {
  flex-basis: 20px;
}

.footer__btn--facebook {
  flex-basis: 20px;
}

.footer__btn--twitter {
  flex-basis: 70px;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
  }
}
