.form-legend {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 16px;
  color: @green;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control__type-name {
  .form-control-text();
}

.form-control__color-name {
  .form-control-text();
}

.form-control__userinfo {
  .form-control-text();
}

.form-control__userinfo-green {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: @green;
}
