.index-main__title {
  background-image: url("/img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: @black;
  padding-top: 50px;
  padding-bottom: 160px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 0;
}
