.main-list__item {
  background-color: @green;
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: @white;
}

.main-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .main-list {
    display: flex;
    flex-direction: row;
  }

  .top-item__flex {
    display: flex;
    flex-direction: row;
  }
}
