.title() {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.form-control-text() {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: @black;
}
