body {
  min-width: 320px;
  font-size: 18px;
  line-height: 27px;
  font-family: "OpenSans";
  color: black;
  font-style: normal;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}
